/*
* — Global css —
*/

#background{
    position: fixed !important;
    top:50% !important;
    left:50%;
    min-width: 100% !important;
    min-height: 50% !important; 
    width: auto !important;
    height: auto !important;
    z-index: -100 !important;
    -webkit-transform: translateX(-50%) translateY(-50%) !important;

    
}

.container{
    background-color: white;
    opacity: 0.94;
}

.information, .setlist, .preview {
    border-radius: 20px;
    width: 225px;
    text-align: center;
    background-color: #E92C3C;
    margin-top: 10px !important;
    color: white;
}


#buy{
    margin-left: 95px;
    background-color:#E92C3C;
}

.spotify{
    width: 300px;
    height: 82px; 
}

.btn-primary{
    margin-left: 95px;
    background-color:#E92C3C !important;
    border-color: #E92C3C !important;
    margin-top: 10px !important;
    
}

.py-5{
background-color: black;
}




/*
* — Extra small devices (portrait phones, less than 576px) —
No media query since this is the default in Bootstrap
*/

/*
* — Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) {}


/*
* — Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) {}


/*
* — Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) {}

/*
* Extra large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) {}